.jumbotron{
    background: url("./assets/backgrounds/h_img.jpg");
    text-align: center;
    color: white;
}
.about{
    text-align: center;
}
.services{
    background: url("assets/backgrounds/s_image.jpg");
    text-align: center;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h5{
    text-align: center;

}
.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#design{
    display: none;
}
#development{
    display: none;
}
#management{
    display: none;
}
.outer-grid{
    flex-wrap: wrap;
    display: flex;
    padding: 0.5px;
}
.inner-grid{
    flex: 25%;
    max-width: 25%;
    padding: 0.4px;
}
.inner-grid img{
    margin-top: 8px;
    width: 100%;
    padding: 10px;

}
h4{
    text-align: center;
}
.work{
    position: relative;   
}
.paragraph{
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
    background-color: teal;
}
.contact{
    background: url("assets/backgrounds/c_image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  .contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Gabriela', serif;
  }
  input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  .form-control::-webkit-input-placeholder { 
    color: white; 
  }
  #merge1{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #merge0{
    width: 30%;
  }
  #comment{
    margin-left: 20%;
    width: 60%;
  }
   button{
    text-align: center; 
    padding-bottom: 30px;
    margin-bottom: 20px;
  } 
    footer{
        text-align: center;
        padding-top: 30px;
        font-family: 'Delius Swash Caps', cursive;
      }
      footer p{
        margin-top: 10px;
      }